* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-container {
  width: 380px;
  height: 640px;
  padding-right: 8px;
}
.home-line {
  margin-top: 10px;
  border: 0.5px solid #c6c6c8;
  top: 1282px;
}
.homeDivContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    width: 100%;
    height: 2086px;
    background: #fafafa;
    padding-left: 80px;
    padding-right: 80px;
  }

  .home-line {
    display: none;
  }
  .postDivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homeDivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
